/* Header
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #ccc;
	padding: 3.7em 0 1em;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@extend %clear_a;
	&__logo {
		display: inline-block;
		width: 16.8em;
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
