// Обертка для адаптивного видео
//	<div class="video__wrapper js-youtube" id="ID_VIDEO">
//		iframe c youtube
// </div>
.video {
	&__wrapper {
		position: relative;
		overflow: hidden;
		padding-bottom: 56.4%;
		border-radius: 1em;
		background-size: cover;
		background-position: center;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__prev {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 12em;
		height: 12em;
		line-height: 11.7em;
		text-align: center;
		margin-top: -6em;
		margin-left: -6em;
		border-radius: 50%;
		border: 0.313em solid $color_withe;
		color: $color_withe;
		cursor: pointer;
		transition: all .3s;
		&:before {
			font-size: 4.4em;
			margin-right: -0.2em;
			transition: all .3s;
			display: inline-block;
		}
		&:hover {
			transform: scale(1.05);
			background-color: $color_warning;
			border-color: $color_warning;
			&:before {
				transform: scale(1.05);
			}
		}
		&:active {
			transform: scale(1);
		}
		// background-color: #f00;
	}
	@media (max-width: 767px) {
		&__wrapper {
			margin-left: -15px;
			margin-right: -15px;
			box-sizing: content-box;
			border-radius: 0;
		}
	    &__play {
	    	font-size: .6em;
	    }
	}
}