-if (pathToHome == true) {
	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/modal.js")
	script(type="text/javascript" src="js/tab.js")
	script(type="text/javascript" src="js/slick.min.js")
	script(type="text/javascript" src="js/function.js?0.2")
-} else {
	script(type="text/javascript" src="../js/jquery.js")
	script(type="text/javascript" src="../js/modal.js")
	script(type="text/javascript" src="../js/tab.js")
	script(type="text/javascript" src="../js/slick.min.js")
	script(type="text/javascript" src="../js/function.js?0.2")
-}
script(type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=4d92db8beb10a24f0a6e06c7a76208a8" charset="UTF-8")
script(type="text/javascript" src="https://vk.com/js/api/openapi.js?159")
script(src="https://apis.google.com/js/platform.js")
